
 :root {
  --accent1: rgb(31, 165, 87);
  --accent2: rgb(35, 129, 109);
}

html,body {
  height:100%;
  width:100%;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 255, 255); 
  color: var(--accent1);
  display: flex;
 }


.title {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 80px;
  font-family: dancing script;
  color: var(--accent1);
  text-justify: center;
  text-align: center;
}

.ai {
  color: #5f5f5f !important;
}

.main-div {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.new-game-button {
  opacity: 1;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 30px;
  outline: none;
  border: none;
  z-index: 1;
  font-family: 'Open Sans';
  background-color: transparent;
  color: var(--accent1);
  cursor: pointer;
}

.start-game-button {
  font-size: 1.8rem;
  text-align: center;
  font-family: dancing script;
  background-color: rgb(26, 116, 63);
  width: 20rem; height: 3rem;
  outline: none; border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  margin: 20px 150px 0 150px;
}

.start-game-button:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgb(36, 155, 85);
}

.new-game-window {
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 30px;
  outline: none;
  border: 8px solid  rgba(107, 107, 107, 0.1);
  border-radius: 30px;
  z-index: 0;
  bottom: -999px;
}

.new-game-window li {
  padding: 15px;
}

.new-game-window.active {
  opacity: 1;
  z-index: 2;
  top: 30%;
  bottom: 20%;
}

ul {
  list-style: none;
}

input[type="text"] {
  font-size: 1.1rem; font-family: 'Roboto';
  color:  rgb(21, 112, 59);
  width: 20rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  margin-right: 40px; margin-left: 40px;
  border: 1px solid  rgba(107, 107, 107, 0.1);
}

#pages-input {
  margin-right: 10px;
  margin-top: 30px;
  width: 70px;
}

input[type="checkbox"] {
  display: none;
  cursor: pointer;
}

label.checkbox-play-ai {
  margin: 0 10px 0 10px;
  font-size: 1.5rem;
}  
  
input.checkbox-play-ai + label:before {
    content: "⬜";
    cursor: pointer;
}

input.checkbox-play-ai:checked + label:before {
    content: "✓";
    cursor: pointer;
}

.game-board {
  margin: 0 auto;
  align-items: center;  
  align-self: center;  
  justify-self: center; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  justify-content: center;
  justify-items: center;
  height: 65vh;
  width: 65vh;
  background-color: rgb(31, 165, 87);
  box-shadow:inset 0px 0px 1  0px 15px #ffffff;
}

.game-cell {
  height: 97%;
  width: 97%;
  background-color: white;
  /* border: solid 10px red; */
  margin: 0fr;
  padding: 0;


}