
 :root {
  --accentMain: rgb(17, 218, 167);
  --accentDim: rgb(170, 209, 201);
  --accentDark: rgb(28, 99, 99);
  --backgroundColor: rgb(247, 255, 253);
  --accentNavy: rgb(14, 24, 68);
}

html,body {
  width: 100%;
  height: 98%;
  display: flex;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  background-color: #0e1844;
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%232fc6b6' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: var(--accentMain); 
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
 }

.title {
  padding-top: 1%;
  padding-bottom: 2%;
  text-justify: center;
  text-align: center;
  color: var(--accentMain);
  font-size: 80px;
  font-family: dancing script;
}

.ai {
  color: rgb(161, 161, 161) !important;
}

.main-div {
  width: 100%;
  height: 98%;
  display: block;
  justify-content: center;
  align-items: center;
}

.new-game-button {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  outline: none;
  border: none;
  color: var(--accentNavy);
  color: #0e1844;
  background-color: transparent;
  font-family: 'Open Sans';
  font-family: dancing script;
  font-weight: 800;
  font-size: 2.2rem;
  cursor: pointer;
  z-index: 10;
}

.new-game-button.active {
  visibility: visible;
}

.start-game-button {
  margin: -30px 150px 30px 150px;
  text-align: center;
  width: 20rem;
  height: 3rem;
  color: rgb(255, 255, 255);
  background-color: var(--accentDark);
  font-family: dancing script;
  font-size: 1.8rem;
  border-radius: 20px;
  outline: none; border: none;
}

.start-game-button:hover {
  background-color: var(--accentMain);
  transform: scale(1.02);
  cursor: pointer;
}

.new-game-window {
  bottom: -999px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  font-size: 1.5rem;
  border: 8px solid  rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background: rgba(3, 3, 46, 0.5);
  background: rgba(0, 236, 189, 0.1);
  /* background-image: linear-gradient(to top, rgba(0, 72, 131, 0.3) 0%, rgba(0, 236, 189, 0.2) 100%); */
}

.result-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  font-size: 1.5rem;

}

.new-game-window li {
  padding: 15px;
}

.new-game-window.active {
  opacity: 1;
  z-index: 2;
  top: 25%;
  bottom: 25%;
}

ul {
  list-style: none;
}

input[type="text"] {
  font-size: 1.1rem; font-family: 'Roboto';
  color: var(--accentDim) !important;
  width: 20rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 40px; margin-left: 40px;
  border: 2px solid  rgba(107, 107, 107, 0.1);
}

#pages-input {
  margin-right: 10px;
  margin-top: 30px;
  width: 70px;
}

input[type="checkbox"] {
  display: none;
  cursor: pointer;
}

label.checkbox-play-ai {
  margin: 0 10px 0 10px;
  font-size: 1.5rem;
}  
  
input.checkbox-play-ai + label:before {
    content: "⬜";
    cursor: pointer;
}

input.checkbox-play-ai:checked + label:before {
    content: "✓";
    cursor: pointer;
}

.game-board {
  height: 60vh;
  width: 60vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
}

.game-cell {
  height: 120px;
  width: 120px;
  margin: 2px;
  color: var(--accentMain);
  background-color: rgba(0, 160, 107, 0.11);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 800;
}

.game-cell:hover {
  background-color: rgba(0, 160, 107, 0.2);
}

.custom-shape-divider-bottom-1606486492 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1606486492 svg {
  position: relative;
  display: block;
  width: calc(205% + 1.3px);
  height: 126px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1606486492 .shape-fill {
  fill: #05DEB5;
}