
 :root {
  --accentMain: rgb(17, 218, 167);
  --accentDim: rgb(170, 209, 201);
  --accentDark: rgb(28, 99, 99);
  --backgroundColor: rgb(247, 255, 253);
}

html,body {
  width: 100%;
  height: 98%;
  display: flex;
  background-color: var(--backgroundColor);
  color: var(--accentMain); 
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
 }

.title {
  padding-top: 2%;
  padding-bottom: 2%;
  text-justify: center;
  text-align: center;
  color: var(--accentMain);
  font-size: 80px;
  font-family: dancing script;
}

.ai {
  color: rgb(116, 116, 116) !important;
}

.main-div {
  width: 100%;
  height: 98%;
  display: block;
  justify-content: center;
  align-items: center;
}

.new-game-button {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  outline: none;
  border: none;
  color: var(--accentMain);
  background-color: transparent;
  font-family: 'Open Sans';
  font-size: 30px;
  cursor: pointer;
}

.new-game-button.active {
  visibility: visible;
}

.start-game-button {
  margin: 10px 150px 30px 150px;
  text-align: center;
  width: 20rem;
  height: 3rem;
  color: rgb(255, 255, 255);
  background-color: var(--accentDark);
  font-family: dancing script;
  font-size: 1.8rem;
  border-radius: 20px;
  outline: none; border: none;
}

.start-game-button:hover {
  background-color: var(--accentMain);
  transform: scale(1.02);
  cursor: pointer;
}

.new-game-window {
  bottom: -999px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  font-size: 1.5rem;
  border: 8px solid  rgba(107, 107, 107, 0.1);
  border-radius: 30px;
}

.new-game-window li {
  padding: 15px;
}

.new-game-window.active {
  opacity: 1;
  z-index: 2;
  top: 30%;
  bottom: 20%;
}

ul {
  list-style: none;
}

input[type="text"] {
  font-size: 1.1rem; font-family: 'Roboto';
  color: var(--accentDim) !important;
  width: 20rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  margin-right: 40px; margin-left: 40px;
  border: 2px solid  rgba(107, 107, 107, 0.1);
}

#pages-input {
  margin-right: 10px;
  margin-top: 30px;
  width: 70px;
}

input[type="checkbox"] {
  display: none;
  cursor: pointer;
}

label.checkbox-play-ai {
  margin: 0 10px 0 10px;
  font-size: 1.5rem;
}  
  
input.checkbox-play-ai + label:before {
    content: "⬜";
    cursor: pointer;
}

input.checkbox-play-ai:checked + label:before {
    content: "✓";
    cursor: pointer;
}

.game-board {
  height: 60vh;
  width: 60vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
  background-color: var(--accentDim);
  box-shadow:inset 0px 0px 0 40px var(--backgroundColor);
}

.game-cell {
  height: 120px;
  width: 120px;
  margin: 2px;
  /* color: var(--backgroundColor); */
  color: var(--accentMain);
  /* background-color: var(--accent1); */
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 800;
}

.result-div {
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid  rgba(107, 107, 107, 0.1);
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: roboto;
  padding: 5%;

}